<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Sent</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        "primary": "#e78e2a"
                    },
                    fontFamily: {
                        Poppins: ["Poppins", "sans-serif"]
                    },
                }
            }
        }
    </script>
</head>

<body class="font-Poppins">
    <main class="mt-10">
        <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
            <div class="mx-auto sm:w-full sm:max-w-sm">
                <h1 class="text-center text-2xl font-bold -mb-8">Marrigold Kitchen</h1>
                <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Password Reset Sent</h2>
            </div>

            <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
                <p class="text-center text-gray-700">We've emailed you instructions for setting your password. If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
</body>

</html>
