<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include Toastify CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <!-- Include Toastify JavaScript -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <!-- Flowbite CDN  -->
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Marrigold</title>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        primary: '#e78e2a',
                        secondary: '#FFC300',
                    },
                    fontFamily: {
                        Poppins: ["Poppins", "sans-serif"]
                    },
                },
            },
        }
    </script>
</head>
<body class="font-Poppins">
    <h1 class="font-bold text-2xl md:text-4xl p-4 md:p-14">Shopping Cart</h1>
    <div class="container mx-auto px-4">
        {% if cart.items.all %}
        <div class="flex flex-col md:flex-row md:space-x-16">
            <div id="cart-items-container" class="cart-items-container flex flex-col gap-4 w-full md:w-2/3">
                <!-- Cart items will be dynamically added here -->
                {% for cart_item in cart.items.all %}
                    <div class="item flex flex-col md:flex-row items-center gap-4 border-b pb-4">
                        <div class="image w-full md:w-1/4">
                            <img src="{{ cart_item.product.image.url }}" alt="{{ cart_item.product.name }}" class="h-40 w-full md:w-auto object-cover rounded-lg" />
                        </div>
                        <div class="info w-full md:w-1/2 flex flex-col gap-2">
                            <span class="font-bold">{{ cart_item.product.name }}</span>
                            <span class="opacity-50">{{ cart_item.product.category }}</span>
                            <span class="hidden md:block opacity-50 max-w-96">{{ cart_item.product.description }}</span>
                        </div>
                        <div class="flex flex-row space-x-[4.5rem] items-center  text-left md:text-center">
                            <div class="quantity w-full md:w-1/4 flex items-center md:gap-2">
                                <button type="button" data-action="decrease" data-id="{{ cart_item.id }}" data-price="{{ cart_item.product.price }}" class="text-red-500 hover:text-red-700">-</button>
                                <input type="text" id="quantity-{{ cart_item.id }}" value="{{ cart_item.quantity }}" min="1" class="bg-transparent w-10 text-center border-transparent" disabled>
                                <button type="button" data-action="increase" data-id="{{ cart_item.id }}" data-price="{{ cart_item.product.price }}" class="mr-2 text-green-500 hover:text-green-700">+</button>
                            </div>
                            <div class="price w-full md:w-1/4 md:text-left">
                                <span class=""><span class="">&#x20A6</span><span id="total-{{ cart_item.id }}">{{ cart_item.total }}</span></span>
                            </div>
                            <div class="delete w-full md:w-auto md:ml-auto">
                                <a href="{% url 'delete_item' cart_item.product.pk %}">
                                    <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4 7H20" stroke="#ff0000" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M6 7V18C6 19.6569 7.34315 21 9 21H15C16.6569 21 18 19.6569 18 18V7" stroke="#ff0000" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M9 5C9 3.89543 9.89543 3 11 3H13C14.1046 3 15 3.89543 15 5V7H9V5Z" stroke="#ff0000" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="order-details bg-gray-100 px-6 py-10 rounded-lg space-y-2 w-full md:w-1/3 my-4 md:mt-0">
                <h1 class="text-2xl font-bold">Order Summary</h1>
                <p id="original-price">Original Price: <span class="">&#x20A6</span>{{ amount }}</p>
                <p>Delivery: <span class="">&#x20A6</span>{{ cart.delivery }}</p>
                <p>Service Charge: <span class="">&#x20A6</span>{{ cart.service_fee }}</p>
    
                <form id="paymentForm" action="{% url 'initialize_payment' %}" method="post" class="flex flex-col">
                    {% csrf_token %}
                    <p><strong>Location:</strong></p>
                    <select name="location" id="location" required class="mb-4 p-2 border border-gray-300 rounded">
                        <option value="Block L">Block L</option>
                        <option value="Block C">Block C</option>
                        <option value="Block U">Block U</option>
                        <option value="Exodus Hall">Exodus Hall</option>
                        <option value="Olive Hall">Olive Hall</option>
                        <option value="Apple Hall (BOT)">Apple Hall (BOT)</option>
                        <option value="PG Hall">PG Hall</option>
                        <option value="Camp David 1">Camp David 1</option>
                        <option value="Camp David 2">Camp David 2 </option>
                        <option value="Camp David 3">Camp David 3</option>
                        <option value="Camp David 4">Camp David 4</option>
                        <option value="Camp David 5">Camp David 5</option>
                        <option value="Camp David 6">Camp David 6</option>
                        <option value="Champions Hall">Champions Hall</option>
                        <option value="Independence Hall">Independence Hall</option>
                        <option value="Wisdom Hall">Wisdom Hall</option>
                        <option value="Block A">Block A</option>
                        <option value="Achievers Hall">Achievers Hall</option>
                        <option value="Victory Hall">Victory Hall</option>
                        <option value="Revelation Hall">Revelation Hall</option>
                        <option value="Proverbs Hall">Proverbs Hall</option>
                        <option value="Jackson Hall">Jackson Hall</option>
                        <option value="Peace Hall 1">Peace Hall 1</option>
                        <option value="Peace Hall 2">Peace Hall 2</option>
                    </select>
    
                    <hr class="my-2 bg-black h-0.5">
    
                    <p class="mb-2" id="totalPrice"><strong>Total Amount:</strong> <span class="">&#x20A6</span>{{ cart.subtotal }}</p>
                    {% if error %}
                        <p class="text-red-500 my-2">{{ error }}</p>
                    {% endif %}
                    
                    <label for="payment_method">Payment Method:</label>
                    <select id="payment_method" name="payment_method" required class="mb-4 p-2 border border-gray-300 rounded">
                        <option value="paystack">Paystack</option>
                        <option value="cash">Pay on Delivery</option>
                    </select>

                    <button type="submit" class="flex items-center justify-center gap-2 rounded-lg border border-gray-200 bg-primary px-5 py-2.5 text-sm font-medium text-white hover:bg-opacity-80 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-100">
                        <svg class="h-4 w-4 sm:h-5 sm:w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.5 11.5 11 14l4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                        Make Payment
                    </button>
                </form>
                <div class="flex flex-row space-x-2">
                    <p>or </p>
                <!-- Continue Shopping Button outside the form -->
                <button id="continue-shopping-button" class="text-primary">Continue Shopping →</button>
                </div>
            </div>
        </div>
        {% else %}
        <p class="px-14">Your cart is empty</p>
        {% endif %}
    </div>

    {% if messages %}
    <div class="messages text-white">
        {% for message in messages %}
        <script>
            let backgroundColor = "#0000ff"; // Default color
            if ("{{ message.tags }}" === "success") {
                backgroundColor = "#00ff00";
            } else if ("{{ message.tags }}" === "error") {
                backgroundColor = "#ff0000";
            } else if ("{{ message.tags }}" === "warning") {
                backgroundColor = "#ffa500";
            } else if ("{{ message.tags }}" === "info") {
                backgroundColor = "#00ffff";
            } else if ("{{ message.tags }}" === "debug") {
                backgroundColor = "#800080";
            }

            Toastify({
                text: "{{ message }}",
                duration: 2000,
                close: true,
                gravity: "bottom", // `top` or `bottom`
                position: "right", // `left`, `center` or `right`
                backgroundColor: backgroundColor, // Use the variable here
                stopOnFocus: true, // Prevents dismissing of toast on hover
            }).showToast();
        </script>
        {% endfor %}
    </div>
    {% endif %}
</body>
<script>
    document.addEventListener('DOMContentLoaded', function() {

        function decreaseItemQuantity(cartItemId, price) {
            const quantityElement = document.getElementById(`quantity-${cartItemId}`);
            let quantity = parseInt(quantityElement.value);
            if (quantity > 1) {
                quantity -= 1;
                quantityElement.value = quantity;
                updateTotalPrice(cartItemId, price, quantity);
            }
        }

        function increaseItemQuantity(cartItemId, price) {
            const quantityElement = document.getElementById(`quantity-${cartItemId}`);
            let quantity = parseInt(quantityElement.value);
            quantity += 1;
            quantityElement.value = quantity;
            updateTotalPrice(cartItemId, price, quantity);
        }

        function updateTotalPrice(cartItemId, price, quantity) {
            const totalElement = document.getElementById(`total-${cartItemId}`);
            const totalPrice = price * quantity;
            totalElement.innerText = totalPrice.toFixed(2);
            updateOriginalPrice();
        }

        function updateOriginalPrice() {
            let totalAmount = 0;
            document.querySelectorAll('[id^="total-"]').forEach(element => {
                totalAmount += parseFloat(element.innerText);
            });
            const originalPriceElement = document.getElementById('original-price');
            originalPriceElement.innerText = `Original Price: ₦${totalAmount.toFixed(2)}`;

            // Update total price with an additional 450
            const totalPriceElement = document.getElementById('totalPrice');
            const totalPrice = totalAmount + 450;
            totalPriceElement.innerText = `Total Amount: ₦${totalPrice.toFixed(2)}`;
        }

        document.querySelectorAll('[data-action="increase"], [data-action="decrease"]').forEach(button => {
            button.addEventListener('click', function() {
                const action = this.getAttribute('data-action');
                const cartItemId = this.getAttribute('data-id');
                const price = parseFloat(this.getAttribute('data-price'));
                const quantityInput = document.getElementById(`quantity-${cartItemId}`);
                let quantity = parseInt(quantityInput.value);

                if (action === 'increase') {
                    quantity += 1;
                } else if (action === 'decrease' && quantity > 1) {
                    quantity -= 1;
                }

                quantityInput.value = quantity;
                updateTotalPrice(cartItemId, price, quantity);
            });
        });

        window.sendQuantitiesToBackend = function() {
            console.log('sendQuantitiesToBackend called'); // Debugging log
            const quantities = {};
            document.querySelectorAll('[id^="quantity-"]').forEach(element => {
                const cartItemId = element.id.split('-')[1];
                quantities[cartItemId] = parseInt(element.value);
            });

            return fetch('{% url "update_cart_quantities" %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify(quantities)
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        console.log('Quantities updated successfully'); // Debugging log
                        return true; // Indicate success
                    } else {
                        console.error('Failed to update quantities'); // Debugging log
                        alert('Failed to update quantities');
                        return false; // Indicate failure
                    }
                })
                .catch(error => {
                    console.error('Error:', error); // Debugging log
                    alert('An error occurred while updating quantities');
                    return false; // Indicate failure
                });
        }

        document.getElementById('paymentForm').addEventListener('submit', async function(event) {
            event.preventDefault(); // Prevent the form from submitting
            const success = await window.sendQuantitiesToBackend();
            if (success) {
                this.submit(); // Submit the form if the function completes successfully
            }
        });
    
        // Handle continue shopping button click
        document.getElementById('continue-shopping-button').addEventListener('click', async function(event) {
            event.preventDefault(); // Prevent the default action
            const success = await window.sendQuantitiesToBackend();
            if (success) {
                window.location.href = '/store'; // Redirect to the store URL
            }
        });
        

        // Initial call to update the original price
        updateOriginalPrice();
    });
</script>
</html>
