{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include Toastify CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <!-- Include Toastify JavaScript -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    {% comment %} Flowbite CDN  {% endcomment %}
    <title>Digicraft</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css2?family=Poppins&display=swap' rel="stylesheet">
    <link href="{% static '../static/output.css' %}" type="text/css" rel="stylesheet">
</head>
<body>
    <section class="bg-white font-Poppins h-screen flex items-center justify-center">
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
            <div class="mx-auto max-w-screen-sm text-center">
                <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-primary-600">403</h1>
                <p class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl">You're not allowed here.</p>
                <p class="mb-4 text-lg font-light text-gray-500">Sorry, You aren't meant to be here. Go somewhere you're wanted. </p>
                <a href="/" class="inline-flex text-white border-2 border-primary bg-primary hover:bg-transparent hover:text-primary focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center my-4 duration-300">Back to Homepage</a>
            </div>   
        </div>
    </section>
</body>
</html>