<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include Toastify CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <!-- Include Toastify JavaScript -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    {% comment %} Flowbite CDN  {% endcomment %}
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />
    <title>Marrigold</title>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        primary: '#e78e2a',
                        secondary: '#FFC300',
                    },
                    fontFamily: {
                        Poppins: ["Poppins", "sans-serif"]
                    },
                },
            },
        }
    </script>
</head>
<body>
    <section class="bg-white h-screen flex items-center justify-center">
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
            <div class="mx-auto max-w-screen-sm text-center">
                <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-primary-600">500</h1>
                <p class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl">Our server has an error.</p>
                <p class="mb-4 text-lg font-light text-gray-500">Contact <a href="mailto:davidumasor18@gmail.com">davidumasor18@gmail.com</a> or return to the store.</p>
                <p class="mb-4 text-lg font-light text-gray-500">Error: {{ exception }}</p>
                <a href="/store" class="inline-flex text-white border-2 border-primary bg-primary hover:bg-transparent hover:text-primary focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center my-4 duration-300">Back to Store</a>
            </div>
        </div>
    </section>
</body>
</html>
